* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero h2 {
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f5f5f5;
  color: #333;
  padding: 10px;
}

header {
  background: linear-gradient(45deg, #ff6347, #ffcc33);
  color: white;
  text-align: center;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

button, .button {
  background-color: #ff6347;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

button:hover, .button:hover {
  transform: translateY(-5px);
}

.intro, .featured, .workout, .nutrition, .gallery, .contact-form {
  margin: 20px 0;
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.photos img {
  width: 100%;
  max-width: 200px;
  margin: 5px;
  border-radius: 5px;
}

.contact-form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #ff6347;
  color: #fff;
  margin-top: 20px;
}